body{
    margin: 0;
    padding: 0;
    background-color: gray;
}
.LOGO{
    background-color: rgb(87, 83, 83);
    width: 960px;
    height: 80px;
    margin: auto;
    text-align: left;
    margin-top: -30px;  
}
.LOGO h1{
    font-size: 30px;
    padding-top: 30px;
    margin-left: 40px;
    color: #fff;
    font-family: Copperplate Gothic Bold;
}
.MENU a{
    font-size: 20px;
    margin-top: -45px;
    margin-left: 800px;
    color: #fff;
    text-align: right;
    font-family: Myriad Pro;
    font-weight: lighter;
    position: absolute;
}
/* ----------------------------------ด้านบนคือส่วนของ Header-------------------------------------- */
.Home{
    background-color:rgb(197, 197, 197);
    width: 960px;
    height: 440px;
    float: left;
    margin-left: 280px;
    text-align: left;
}
.Home h2{
    font-size: 36px;
    padding-top: 110px;
    padding-left: 90px;
    font-family: Stencil;
}
.Home img {
    width: 100px;
    height: 80px;
    float: right;
    margin-top: -120px;
    margin-right: 220px;
}
.buttom  img {
    width: 40px;
    height: 40px;
    float: left;
    margin: center;
    margin-top: -160px;
    margin-left: 410px;
}
.dot img {
    width: 60px;
    height: 60px;
    float: left;
    margin-top: -60px;
    margin-left: 735px;
}

/* ----------------------------ด้านบนคือส่วนของ Home------------------------------- */
.About{
    background-color: white;
    width: 960px;
    height: 400px;
    float: left;
    margin-left: 280px;
    text-align: center;
}
.Text-About{
    background-color: rgb(119, 116, 116) ;
    width: 700px;
    height: 300px;
    float: left;
    text-align: left;
    margin-left: 260px;
    margin-top: 50px;

}
.Text-About h3{
    font-size: 18px;
    padding-top: 50px;
    padding-left: 175px;
    color: white;
    font-family: Corbel;
}
.Pic-About{
    background-color: rgb(205, 211, 211);
    width: 400px;
    height: 240px;
    float: left;
    margin-top: -270px;
    text-align: center;
}
.Pic-About img {
        width: 100px;
        height: 100px;
        margin-top: 70px;
    }
/* ----------------------------ด้านบนคือส่วนของ About ------------------------------- */
.Text-Location{
    background-color: rgb(161, 160, 160);
    width: 960px;
    height: 600px;
    float: left;
    text-align: center;
    margin-left: 280px;
}
.Text-Location h4{
    font-size: 30px;
    color: black;
    font-family: Stencil;;
}
.All-Location{
    background-color:  rgb(71, 71, 71);
    width: 110px;
    height: 50px;
    float: left;
    text-align: center;
    margin-left: -705px;
    margin-top: 100px;
    border-radius: 30px;
}

.All-Location h4{
    font-size: 18px;
    margin-top: 15px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}
.Country-Location{
    background-color: rgb(71, 71, 71);
    width: 110px;
    height: 50px;
    float: left;
    text-align: center;
    margin-left: -585px;
    margin-top: 100px;
    border-radius: 30px;
}
.Country-Location img {
    width: 20px;
    height: 20px;
    margin-top: 15px;
    margin-right: -70px;
}
.Country-Location h4{
    font-size: 18px;
    color: white;
    margin-top: -25px;
    margin-left: -25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

.Town-Location{
    background-color: rgb(71, 71, 71);
    width: 110px;
    height: 50px;
    float: left;
    text-align: center;
    margin-left: -465px;
    margin-top: 100px;
    border-radius: 30px;
}
.Town-Location img {
    width: 20px;
    height: 20px;
    margin-top: 15px;
    margin-right: -60px;
}
.Town-Location h4{
    font-size: 18px;
    color: white;
    margin-top: -25px;
    margin-left: -25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}
.Type-Location{
    background-color: rgb(71, 71, 71);
    width: 110px;
    height: 50px;
    float: left;
    text-align: center;
    margin-left: -345px;
    margin-top: 100px;
    border-radius: 30px;
}
.Type-Location img {
    width: 20px;
    height: 20px;
    margin-top: 15px;
    margin-right: -60px;
}
.Type-Location h4{
    font-size: 18px;
    color: white;
    margin-top: -25px;
    margin-left: -25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}
.America{
    background-color: rgb(27, 27, 27);
    width: 240px;
    height: 240px;
    float: left;
    text-align: center;
    margin-left: -900px;
    margin-top: 200px;
}
.America img {
    width: 70px;
    height: 60px;
    padding-top: 90px;
    color: #fff
}
.America h4{
    font-size: 18px;
    color: white;
    padding-top: 100px;
    font-family: Corbel;
}

.Japan{
    background-color: rgb(27, 27, 27);
    width: 240px;
    height: 240px;
    float: left;
    text-align: center;
    margin-left: -600px;
    margin-top: 200px;
}
.Japan img {
    width: 70px;
    height: 60px;
    padding-top: 90px;
}
.Japan h4{
    font-size: 18px;
    color: white;
    padding-top: 100px;
    font-family: Corbel;
}

.Canada{
    background-color: rgb(27, 27, 27);
    width: 240px;
    height: 240px;
    float: left;
    text-align: center;
    margin-left: -300px;
    margin-top: 200px;
}
.Canada img {
    width: 70px;
    height: 60px;
    margin-top: 90px;
}
.Canada h4{
    font-size: 18px;
    color: white;
    padding-top: 100px;
    font-family: Corbel;
}

.dot-1 img {
    width: 60px;
    height: 60px;
    float: left;
    margin-top: -60px;
    margin-left: 735px;
}

/* ----------------------------ด้านบนคือส่วนของ Location ------------------------------- */
.Text-Trips{
    background-color: white;
    width: 960px;
    height: 1140px;
    float: left;
    text-align: center;
    margin-left: 280px;
}
.Text-Trips h5{
    font-size: 36px;
    margin-top: 100px;
    font-family: Stencil;
}
.Text-Trips h6{
    font-size: 24px;
    margin-top: -60px;
    font-family: Corbel;
}
.PLACES{
    background-color: rgb(121, 118, 118);
    width: 130px;
    height: 50px;
    float: left;
    text-align: center;
    margin-left: -550px;
    margin-top: 220px;
    border-radius: 30px;
}
.PLACES img {
    width: 20px;
    height: 20px;
    margin-top: 15px;
    margin-right: -80px;
}
.PLACES h5{
    font-size: 18px;
    color: white;
    margin-top: -25px;
    margin-left: -25px;
    font-family:  'Open Sans', 'Helvetica Neue', sans-serif ;
    font-style: normal ;
}
.Whistler-Blackcomb{
    background-color: rgb(94, 94, 94);
    width: 240px;
    height: 350px;
    float: left;
    text-align: center;
    margin-left: -900px;
    margin-top: 300px;
}
.Whistler-Blackcomb img {
    width: 70px;
    height: 60px;
    margin-top: 90px;
}
.Whistler-Blackcomb a{
    font-size: 18px;
    color: white;
    float: left;
    margin-top: 130px;
    font-family: Corbel;
    margin-left: 40px;
}
.Whistler-Blackcomb h6{
    background-color: rgb(49, 49, 49);
    width: 100px;
    height: 30px;
    font-size: 18px;
    color: white;
    float: left;
    padding-top: 10px;
    font-family: Corbel;
    margin-top: -80px;
    margin-left: 70px;
    border-radius: 30px;
}
.Cagary{
    background-color:rgb(94, 94, 94);
    width: 240px;
    height: 350px;
    float: left;
    text-align: center;
    margin-left: -600px;
    margin-top: 300px;
}
.Cagary img {
    width: 70px;
    height: 60px;
    margin-top: 90px;
    margin-left: -140px;
}
.Cagary a{
    font-size: 18px;
    color: white;
    float: left;
    margin-top: 280px;
    font-family: Corbel;
    margin-left: 90px;
}
.Cagary h6{
    background-color: rgb(49, 49, 49);
    width: 100px;
    height: 30px;
    font-size: 18px;
    color: white;
    float: left;
    padding-top: 10px;
    font-family: Corbel;
    margin-top: -80px;
    margin-left: 70px;
    border-radius: 30px;
}
.Vancouver{
    background-color:rgb(94, 94, 94);
    width: 240px;
    height: 350px;
    float: left;
    text-align: center;
    margin-left: -300px;
    margin-top: 300px;
}
.Vancouver img {
    width: 70px;
    margin-top: 90px;
    margin-left: -160px;
}
.Vancouver a{
    font-size: 18px;
    color: white;
    float: left;
    margin-top: 280px;
    font-family: Corbel;
    margin-left: 80px;
}
.Vancouver h6{
    background-color: rgb(49, 49, 49);
    width: 100px;
    height: 30px;
    font-size: 18px;
    float: left;
    color: white;
    padding-top: 10px;
    font-family: Corbel;
    margin-top: -80px;
    margin-left: 70px;
    border-radius: 30px;
}
.Banff-National-Park{
    background-color: rgb(94, 94, 94);
    width: 240px;
    height: 350px;
    float: left;
    text-align: center;
    margin-left: -900px;
    margin-top: 700px;
}
.Banff-National-Park img {
    width: 70px;
    height: 60px;
    margin-top: 90px;
}
.Banff-National-Park a{
    font-size: 18px;
    color: white;
    float: left;
    margin-top: 130px;
    font-family: Corbel;
    margin-left: 40px;
}
.Banff-National-Park h6{
    background-color: rgb(49, 49, 49);
    width: 100px;
    height: 30px;
    font-size: 18px;
    color: white;
    float: left;
    padding-top: 10px;
    font-family: Corbel;
    margin-top: -80px;
    margin-left: 70px;
    border-radius: 30px;
}
.Quebec-City{
    background-color: rgb(94, 94, 94);
    width: 240px;
    height: 350px;
    float: left;
    text-align: center;
    margin-left: -600px;
    margin-top: 700px;
}
.Quebec-City img {
    width: 70px;
    height: 60px;
    margin-top: 90px;
    margin-left: -160px;
}
.Quebec-City a{
    font-size: 18px;
    color: white;
    float: left;
    margin-top: 280px;
    font-family: Corbel;
    margin-left: 75px;
}
.Quebec-City h6{
    background-color: rgb(49, 49, 49);
    width: 100px;
    height: 30px;
    font-size: 18px;
    color: white;
    float: left;
    padding-top: 10px;
    font-family: Corbel;
    margin-top: -80px;
    margin-left: 70px;
    border-radius: 30px;
}
.Niagara-Falls-Ontario{
    background-color:rgb(94, 94, 94);
    width: 240px;
    height: 350px;
    float: left;
    text-align: center;
    margin-left: -300px;
    margin-top: 700px;
}
.Niagara-Falls-Ontario img {
    width: 70px;
    height: 60px;
    margin-top: 90px;
}
.Niagara-Falls-Ontario a{
    font-size: 18px;
    color: white;
    float: left;
    margin-top: 130px;
    font-family: Corbel;
    margin-left: 40px;
}
.Niagara-Falls-Ontario h6{
    background-color: rgb(49, 49, 49);
    width: 100px;
    height: 30px;
    font-size: 18px;
    float: left;
    color: white;
    padding-top: 10px;
    font-family: Corbel;
    margin-top: -80px;
    margin-left: 70px;
    border-radius: 30px;
}
/* ----------------------------ด้านบนคือส่วนของ Trips ------------------------------- */
.Blogs{
    background-color: rgb(187, 187, 187);
    width: 960px;
    height: 600px;
    float: left;
    margin-left: 280px;
    text-align: center;
}
.blogs-name h6{
    font-size: 36px;
    margin-top: 40px;
    float: left;
    font-family: Stencil;
    margin-left: 60px;

}
.Text-Blogs{
    background-color: rgb(121, 121, 121) ;
    width: 410px;
    height: 300px;
    float: left;
    text-align: left;
    margin-left: 460px;
    margin-top: 10px;
}
.Text-Blogs h6{
    font-size: 18px;
    padding-top: 15px;
    padding-left: 45px;
    color: white;
    font-family: Corbel;
}
.Pic-Blogs{
    background-color: rgb(56, 56, 56);
    width: 410px;
    height: 400px;
    float: left;
    margin-top: -350px;
    text-align: center;
    margin-left: 50px;
}
.Pic-Blogs img {
    width: 100px;
    height: 100px;
    margin-top: 150px;
}
.right-arrow img {
    width: 100px;
    height: 100px;
    float: right;
    margin-top: -200px;
    margin-right: -10px;
}

/* ----------------------------ด้านบนคือส่วนของ Blogs ------------------------------- */

.contact-trips{
    background-color: black ;
    width: 960px;
    height: 200px;
    float: left;
    margin-left: 280px;
    text-align: left;
}
.facebook img{
    width: 40px;
    height: 40px;
    float: left;
    margin-top: 65px;
    margin-left: 50px;
}
.twitter img{
    width: 40px;
    height: 40px;
    float: left;
    margin-top: 115px;
    margin-left: -40px;
}
.instagram img{
    width: 40px;
    height: 40px;
    float: left;
    margin-top: 65px;
    margin-left: 10px;
}
.pinterest img{
    width: 40px;
    height: 40px;
    float: left;
    margin-top: 115px;
    margin-left: -40px;
}

.contact-1 h1{
    font-size: 18px;
    float: left;
    margin-top: -70px;
    color: white;
    margin-left: 650px;
    font-family: Corbel;
}
.email img{
    width: 20px;
    height: 20px;
    float: left;
    margin-top: -115px;
    margin-left: 650px;
}
.phone img{
    width: 20px;
    height: 20x;
    float: left;
    margin-top: -95px;
    margin-left: 650px;
}
.pin img{
    width: 20px;
    height: 20px;
    float: left;
    margin-top: -70px;
    margin-left: 650px;
}

.link a{
    font-size: 18px;
    float: left;
    margin-top: -120px;
    color: white;
    margin-left: 200px;
    font-family: Corbel;
}
.copyright{
    font-size: 12px;
    float: left;
    margin-top: -10px;
    color: white;
    margin-left: 250px;
    font-family: Corbel;
}
/* ----------------------------ด้านบนคือส่วนของ Contact ------------------------------- */